.idea

*.pyc
*.swp
*.log
*.DS_Store
nohup.out
hvite.mlf
reco.mlf
*.mlf

htkdata
*-test-data
*-train-data

dataset

model/*
!model/proto
model/proto/*
!model/proto/createhmmprototypes.sh
!model/proto/generate_hmm_prototype.py

scripts/*.txt

